*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
    outline: none;
    color: white;
    background-color: #5c4e9e;
    box-shadow: 0 10px 50px -4px #8675d9;
    transition: box-shadow 0.3s;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 10px 50px -10px #8675d9;
}

button:disabled {
    opacity: 0.5;
}

button:active {
    transform: translateY(2px);
}

@font-face {
    src: url("../fonts/publico/Publico\ Azerbaijan\ Text-Roman.otf");
    font-family: "fnt-1-roman";
}

@font-face {
    src: url("../fonts/publico/Publico\ Azerbaijan\ Text-Italic.otf");
    font-family: "fnt-1-italic";
}

@font-face {
    src: url("../fonts/publico/Publico-Azerbaijan-Headline-Medium.otf");
    font-family: "fnt-1";
}

@font-face {
    src: url("../fonts/publico/Publico\ Azerbaijan\ Headline-Medium\ Italic.otf");
    font-family: "fnt-1-medium-italic";
}

@font-face {
    src: url("../fonts/gilroy/Gilroy-Medium.otf");
    font-family: "fnt-2-medium";
}

@font-face {
    src: url("../fonts/gilroy/Gilroy-Bold.otf");
    font-family: "fnt-2-bold";
}

body {
    background-color: #f6f6f6;
}

.header {
    width: 76%;
    padding-top: 150px;
    margin: 0 auto;
    font-family: "fnt-1-italic";
    font-size: 18px;
}

@media only screen and (max-width: 1050px) {
    .header {
        padding-top: 50px;
    }
}

@media only screen and (max-width: 500px) {
    .header {
        flex-direction: column;
    }
}

.header .share-icon:hover svg {
    transition: all 0.3s;
}

.header .share-icon:hover svg g {
    transition: all 0.3s;
    fill: #5c4e9e;
}

.center {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    transition: 1s cubic-bezier(0.17, 0.67, 0.12, 0.99);
}

.center.to-top {
    top: 8%;
}


@media only screen and (max-width: 600px) {
    .center.to-top {
        top: 15%;
    }
}

.center__form input,
.center__form button {
    padding-top: 14px;
    padding-bottom: 14px;
}

.center__form {
    width: 33.75%;
    font-family: "fnt-1-roman";
}

.center__form>* {
    border-radius: 10px;
}

.center__form input {
    display: inline-block;
    width: 140px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #c3c3c3;
    background-color: transparent;
    transition: 0.3s;
    text-transform: capitalize;
}

.center__form input:focus {
    outline: none;
    border-color: black;
}

.center__form input,
.center__form input::placeholder {
    font-family: "fnt-1-roman";
}

.center__form button {
    min-width: 140px;
    font-family: "fnt-1-roman";
    font-size: 18px;
    cursor: pointer;
}

.center>span {
    display: block;
}

.center .center__fb-login {
    font-family: "fnt-2-bold";
    font-size: 17px;
}

.center .center__flag {
    margin-bottom: 43px;
}

.center .center__karabakh-text {
    font-family: "fnt-1";
    font-size: 40px;
    font-weight: medium;
    margin-bottom: 43px;
}

@media only screen and (max-width: 600px) {
    .center .center__karabakh-text {
        font-size: 30px;
    }
}

.generate {
    display: block;
    opacity: 1;
    position: fixed;
    top: 33%;
    left: 50%;
    transform: translate(-50%);
    transition: all 1s linear;
    text-align: center;
    font-family: "fnt-1-italic";
    z-index: 9999999;
}

@media only screen and (max-width: 1000px) {
    .generate {
        width: 80%;
    }
}

.generate.not-shown {
    opacity: 0;
    visibility: hidden;
}

.generate h1 {
    font-size: 50px;
    font-family: "fnt-2-bold";
}

@media only screen and (max-width: 600px) {
    .generate h1 {
        font-size: 40px;
    }
}


.generate>div {
    margin-top: 40px;
}

.generate div {
    font-size: 40px;
    line-height: 60px;
}

@media only screen and (max-width: 600px) {
    .generate div {
        font-size: 30px;
    }
}

.generate .generate__button {
    font-family: "fnt-2-bold";
    border-radius: 10px;
    /* padding: 16px 35px; */
    width: 150px;
    height: 53px;
    margin-top: 60px;
}

@media only screen and (max-width: 600px) {
    .generate .generate__button {
        margin-top: 30px;
    }
}

.generate__button__open-image-text {
    text-decoration: none;
    color: white;
}

footer {
    font-family: "fnt-2-medium";
    font-size: 16px;
    text-align: center;
    position: fixed;
    bottom: 6.25%;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and (max-width: 1000px) {
    footer {
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    footer {
        bottom: 3%;
    }
}

footer .footer__beat-logo {
    display: inline-block;
    margin-bottom: 26px;
}

footer>p>a {
    color: black;
}

footer .footer__bottom-paragraph {
    margin-top: 26px;
    font-family: "fnt-2-medium";
}

footer .footer__bottom-paragraph span {
    text-decoration: none;
    font-family: "fnt-2-bold";
    transition: all 0.3s;
}

footer .footer__bottom-paragraph span:hover {
    opacity: 0.8;
}

.purple {
    color: #5c4e9e;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-none {
    display: none !important;
}

.custom-select-wrapper {
    display: inline-block;
    position: relative;
    user-select: none;
    z-index: 999999;
}

.custom-select {
    position: relative;
    display: flex;
    flex-direction: column;
}

.custom-select__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    font-size: 20px;
    font-weight: 300;
    height: 60px;
    cursor: pointer;
}

.custom-select__trigger span {
    text-decoration: underline;
}

.custom-options {
    background-color: white;
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    border-top: 0;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.custom-select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    border-radius: 10px;
}

.custom-option {
    position: relative;
    display: block;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.5s;
    z-index: 999999;
    font-size: 20px;
    line-height: 30px;
}

.custom-option:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.custom-option:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.custom-option:hover {
    cursor: pointer;
    background-color: #5c4e9e;
    color: #ffffff;
}

.custom-option.selected {
    background-color: #5c4e9e;
    color: #ffffff;
}

.arrow {
    position: relative;
    height: 15px;
    width: 15px;
    margin-left: 10px;
    transition: all 0.3s;
}

.arrow img {
    transition: all 0.3s;
}

.open .arrow img {
    transform: rotate(180deg);
}