<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        @keyframes ldio-47tw07u2xzp {
            0% {
                transform: translate(-50%, -50%) rotate(0deg);
            }

            100% {
                transform: translate(-50%, -50%) rotate(360deg);
            }
        }

        .ldio-47tw07u2xzp div {
            position: absolute;
            width: 30px;
            height: 30px;
            border: 5px solid #5c4e9e;
            border-top-color: transparent;
            border-radius: 50%;
        }

        .ldio-47tw07u2xzp div {
            animation: ldio-47tw07u2xzp 1s linear infinite;
            top: 100px;
            left: 100px
        }

        .loadingio-spinner-rolling-mu8b1dshy5 {
            width: 200px;
            height: 200px;
            display: inline-block;
            overflow: hidden;
            background: #ffffff;
        }

        .ldio-47tw07u2xzp {
            width: 100%;
            height: 100%;
            position: relative;
            transform: translateZ(0) scale(1);
            backface-visibility: hidden;
            transform-origin: 0 0;
        }

        .ldio-47tw07u2xzp div {
            box-sizing: content-box;
        }
    </style>
    <link rel="stylesheet" href="../assets/css/style.min.css">

    <!-- Primary Meta Tags -->
    <title>#KarabakhisAzerbaijan — Share your history!</title>
    <meta name="title" content="#KarabakhisAzerbaijan — Share your history!">
    <meta name="description"
        content="Azerbaijan undertaking counter offensive measures on its territory for its territorial integrity.">
    <meta name="keywords"
        content="baku,azerbaijan,war,karabakh,karabakhisazerbaijan,military,history,shareyourhistory,occupy,">
    <meta property="og:image" content="https://beat.az/img/kia_beat_og.jpg">
    <meta property="og:type" content="website">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://kia.beat.az/">
    <meta property="og:title" content="#KarabakhisAzerbaijan — Share your history!">
    <meta property="og:description"
        content="Azerbaijan undertaking counter offensive measures on its territory for its territorial integrity.">
    <meta property="og:image" content="https://beat.az/img/kia_beat_og.jpg">
    <meta property="fb:app_id" content="258462088793427" />


    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://kia.beat.az/">
    <meta property="twitter:title" content="#KarabakhisAzerbaijan — Share your history!">
    <meta property="twitter:description"
        content="Azerbaijan undertaking counter offensive measures on its territory for its territorial integrity.">
    <meta property="twitter:image" content="https://beat.az/img/kia_beat_og.jpg">

    <!-- icons start -->
    <link rel="apple-touch-icon" sizes="57x57" href="../assets/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../assets/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../assets/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../assets/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../assets/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../assets/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../assets/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../assets/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../assets/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/icons/favicon-16x16.png">
    <link rel="manifest" href="../assets/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../assets/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- icons end -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129708290-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-129708290-13');
    </script>

    <title>#KarabakhisAzerbaijan — Share your history!</title>
</head>

<body>
    <header class="header flex">
        <span>#shareyourhistory</span>
        <span>Shared histories: <span style="font-weight: bold;"><%= generationCount %></span></span>
    </header>
    <div class="main">
        <section class="center">
            <span class="center__flag">
                <img src="../assets/images/az_flag.svg" alt="Azerbaijan flag">
            </span>
            <span class="center__karabakh-text purple">
                #KarabakhisAzerbaijan
            </span>
            <form id="main-form" class="center__form flex">
                <input type="text" name="name" placeholder="Name" autocomplete="off" id="name-input">
                <input type="text" name="surname" placeholder="Surname" autocomplete="off" id="surname-input"
                    style="margin-left: 23px;">
                <button type="submit"
                    style="margin-left: 43px;display: flex; align-items: center; justify-content: center;" disabled>
                    <span style="margin-right: 5px;">Next</span>
                    <img src="../assets/images/arrow-right.svg" alt="arrow right">
                </button>
            </form>

        </section>
        <section class="generate not-shown">
            <h1>Hello, world!</h1>
            <div class="generate__text">I’m from
                <div class="custom-select-wrapper" style="font-family: 'fnt-1-medium-italic'">
                    <div class="custom-select">
                        <div class="custom-select__trigger"><span>Choose district</span>
                            <div class="arrow">
                                <img src="../assets/images/arrow-down.svg" alt="arrow down image">
                            </div>
                        </div>
                        <div class="custom-options">
                            <span class="custom-option" data-value="aghdam">Aghdam</span>
                            <span class="custom-option" data-value="aghdara">Aghdara</span>
                            <span class="custom-option returned" data-value="fuzuli">Fuzuli</span>
                            <span class="custom-option" data-value="gubadli">Gubadli</span>
                            <span class="custom-option returned" data-value="jabrayil">Jabrayil</span>
                            <span class="custom-option" data-value="kalbajar">Kalbajar</span>
                            <span class="custom-option" data-value="khojaly">Khojaly</span>
                            <span class="custom-option" data-value="khankendi">Khankendi</span>
                            <span class="custom-option" data-value="khojavend">Khojavend</span>
                            <span class="custom-option" data-value="lachin">Lachin</span>
                            <span class="custom-option" data-value="shusha">Shusha</span>
                            <span class="custom-option returned" data-value="zangilan">Zangilan</span>
                        </div>
                    </div>
                </div>
                <p> and my territory is occupied by Armenia.</p>
            </div>
            <button class="generate__button" disabled>
                <span class="generate__button__text">Generate</span>
                <div class="loadingio-spinner-rolling-mu8b1dshy5 generate-loader d-none"
                    style="background-color: #5c4e9e; height: 100%; width: 100%; border-radius: 10px;">
                    <div class="ldio-47tw07u2xzp">
                        <div class="loader"
                            style="margin: 25px 75px; width:20px; height: 20px; border: 5px solid white; top: 0; left: 0; border-top-color: transparent; position: initial;">
                        </div>
                    </div>
                </div>
            </button>
            <button class="generate__button__open-image-text d-none" id="download">
                <span>Save image</span>
                <div class="loadingio-spinner-rolling-mu8b1dshy5 save-loader d-none"
                    style="background-color: #5c4e9e; height: 100%; width: 100%; border-radius: 10px;">
                    <div class="ldio-47tw07u2xzp">
                        <div class="loader"
                            style="margin: 25px 75px; width:20px; height: 20px; border: 5px solid white; top: 0; left: 0; border-top-color: transparent; position: initial;">
                        </div>
                    </div>
                </div>
            </button>
        </section>
        <%- include('partials/footer.ejs') %>
    </div>

    <div class="loading-wrapper"
        style="position: fixed; top: 0; left: 0; z-index: 999999999; width: 100%; height: 100%; background-color: white; display: flex; justify-content: center; align-items: center;">
        <div class="loadingio-spinner-rolling-mu8b1dshy5">
            <div class="ldio-47tw07u2xzp">
                <div class="loader"></div>
            </div>
        </div>
    </div>

    <script src="../assets/js/main.min.js"></script>
</body>

</html>