<footer>
    <a href="https://beat.az/" target="_blank" class="footer__beat-logo">
        <img src="../assets/images/beat-group-logo.svg" alt="Beat group logo">
    </a>
    <p>
        Free for commercial and personal use under <a href="https://creativecommons.org/publicdomain/zero/1.0/"
            target="_blank">CC0
            license.
            <a href="mailto:info@beat.az?subject=#karabakhisazerbaijan!" style="display:block; margin-top: 10px;">Any
                ideas? Drop an
                mail</a></a>
    </p>
    <p class="footer__bottom-paragraph">Share your history with <span class="purple">#KarabakhisAzerbaijan</span></p>
</footer>