<html lang="en">

<head>
    <link rel="stylesheet" href="./css/style.css">
    <style>
        @font-face {
            font-family: fnt-2-medium;
            src: url("./fonts/gilroy/Gilroy-Medium.woff");
        }
    </style>
</head>

<body style="width: 1080px; height: 1920px;">
    <div style="position: relative;">
        <img style="width: 100%;" src="<%= imageURI %>"
            alt="Azerbaijani region <%= city %> region is occupied by armenian">
        <span
            style="position: absolute; bottom: 215px; left: 111px; font-size: 20pt; font-family: fnt-2-medium, Gilroy-Medium; color: #424242">
            Created by <%= user.name %> <%= user.surname %>
        </span>
    </div>
</body>

</html>